# Файл с секретными ключами
.env

# База данных. Ее не стоит хранить в репозитории,
# так как она содержит данные пользователей.
bot_data.db

# Виртуальное окружение (если вы его создадите в будущем)
venv/

# Кэш Python
__pycache__/
*.pyc

# Временные файлы
user_list.txt